body
{
    background-color: black;
    color: white;
}

.canvasContainer
{
  border: 0px solid black; 
  display: block;
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.canvasContainer > canvas
{
  border: 0px solid black; 
  position: absolute;
  left: 0;
  top: 0;
}

.faceCanvas
{
    z-index: 1;
}

.handsCanvas
{
    z-index: 2;
}

.digitalCanvas
{
    z-index: 3;
}

.config
{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 100%;
    z-index: 5;
}

.config h2
{
    margin: 5px;
}

.config div
{
    position: relative;
}

.config-button
{
    clear: both;
    float: left;
    margin: 5px;
    width: 80px;
}

.config-panel
{
    position: absolute;
    top: 5px;
    left: 100px;
    display: none;
}